<h1 style='margin-top:100px;font-size:2rem'>Our official pizza directory</h1>

<% @pizzas.each do |pizza| %>
  <h1 style='font-size:1.5rem;margin-top:50px'>Pizza Name:
      <p><%= pizza.name %> -- Found at <%= pizza.restaurants.count%> <%= "restaurant".pluralize(pizza.restaurants.count)%> in your area</p>
  </h1>
  <p>Ingredients: <%= pizza.ingredients %></p>
<% end %>
