<h1>Pizza Show Page</h1>

<h3><label>Pizza Name:</label><%= @pizza.name%></h3>

<h3><label>Pizza Ingredients:</label></h3>
<p><%= @pizza.ingredients%></p>

<h3>Number of Restaurants that sell this Pizza: <%= @pizza.restaurant_ids.count%></h3>


<%= link_to 'Back To All Pizzas', pizzas_path %>