<h1><%= @restaurant.name %></h1>
<h3>Address: <%= @restaurant.address %></h3>

<h2>Available Pizzas:</h2>
<ul>
<% @restaurant.restaurant_pizzas.each do |location| %>
  <li> <%= link_to location.pizza.name, pizza_path(location.pizza) %> - Price: <%= location.price%></li>
  <% end%>
  </ul>