<h1> Restaurant Show Page </h1>

<br>

<%= @restaurant.name %>

<br>

<%= @restaurant.address %>

<br>

<% @restaurant.pizzas.each do |pizza| %>
<p> Sells: <%= link_to pizza.name, pizza_path(pizza) %> </p>
<%end%>