<h1><%=@restaurant.name%></h1><br>
<h2>Located at:</h2>
<p><%=@restaurant.address%></p><br>
<h2>Our Delicious Pizzas</h2><br>
<ol>
<%@restaurant.pizzas.each do |pizza|%>
    <li><%=link_to pizza.name, pizza_path(pizza)%></li>
<%end%>
</ol>

<h2>On average, our pizzas only cost: </h2>
<p>$<%= @restaurant.average_pizza_price.round(2) %></p>