<p>Name: <%= @restaurant.name %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Available Pizzas: </p>
<ul><% @restaurant.pizzas.uniq.each do |pizza| %>
    <li><p><%= link_to pizza.name, pizza_path(pizza) %></p></li>
<% end %></ul>

<br>
<br>
<br>
<p>Average price of Pizzas: <%= @average_price %></p>